@using System.Runtime.InteropServices.ComTypes
@model List<LabInstanceHeatmap.Caching.LabInstanceCacheModel>

@{
    ViewBag.Title = "LabInstances";
}

<div id="map"></div>
@section Scripts{
    <script>
        var map, heatmap, array, pointArray, markerArray, infowindow;
        pointArray = [];
        markerArray = [];

        $('#map').height($(window).height());

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 4,
                    center: { lat: 41.034543, lng: -99.789475 },
                    mapTypeId: google.maps.MapTypeId.HYBRID
                });

            array = @Html.Raw(
                        Json.Encode(
                            Model.Select(item => new
                            {
                                latitude = item.Latitude,
                                longitude = item.Longitude
                            })
                            )
                        );
           
            $.each(array, function (i, item) {
                pointArray.push(new google.maps.LatLng(item.latitude, item.longitude));
            });

            heatmap = new google.maps.visualization.HeatmapLayer({
                data: pointArray,
                map: map,
                opacity: 0.7
            });
            changeRadius();
            changeGradient();

            map.addListener('zoom_changed', function () {
                changeRadius();
            });
        
            google.maps.event.addListener(map, 'zoom_changed', function() {
                var zoom = map.getZoom();
                for (var i = 0; i < markerArray.length; i++) {
                    markerArray[i].setVisible(zoom >= 7);
                }
            });
        }// end initMap()
        
        function changeGradient() {
            var gradient = [
                'rgba(0, 255, 255, 0)', 'rgba(0, 255, 255, 1)', 'rgba(0, 191, 255, 1)', 'rgba(0, 127, 255, 1)',
                'rgba(0, 63, 255, 1)', 'rgba(0, 0, 255, 1)', 'rgba(0, 0, 223, 1)', 'rgba(0, 0, 191, 1)',
                'rgba(0, 0, 159, 1)', 'rgba(0, 0, 127, 1)', 'rgba(63, 0, 91, 1)', 'rgba(127, 0, 63, 1)',
                'rgba(191, 0, 31, 1)', 'rgba(255, 0, 0, 1)'
            ];
            heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
        }

        function changeRadius() {
            heatmap.set('radius', map.getZoom() < 5 ? (map.getZoom() * 8) : 65);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU7ZujM7o84GvOFkU72Qs4j-pit_DXfCc&libraries=visualization&callback=initMap">
    </script>
    <script type="text/javascript">

    </script>
}
